.hidden-cat {
  position: fixed;
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.3s ease;
    color: #000000; 
}



.cat-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  animation: fadeIn 0.4s ease-in-out;
}

.cat-popup img {
  width: 200px;
  height: auto;
  border-radius: 1rem;
}

.cat-popup-text {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #f8f8f8;
  font-weight: bold;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}
