:root {
  --primary: #a970ff;
  --secondary: #ff6ec7;
  --bg: #111;
  --text: #fff;
}


html, body, #root, .app-container {
  background-color: transparent !important;
  background-image: none !important;
  min-height: 100vh; 
  margin: 0;
}

.app-container {
 
  overflow-y: auto; 
  height: 100vh;
}

.app-container::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 60px 40px;
  box-sizing: border-box;
  

  background: transparent; 
  
  color: var(--text);
}